asgiref==3.5.2
charset-normalizer==2.0.12
Django==4.0.6
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
joblib==1.0.1
missingno==0.5.1
mysqlclient==2.1.1
pandas-profiling==3.1.0
phik==0.12.2
pydantic==1.9.0
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
wincertstore==0.2
